.ant-steps.ant-steps-vertical >.ant-steps-item .ant-steps-item-icon {
  background-color: #1677ff!important;
  border-color: #1677ff!important;
}
.ant-steps .ant-steps-item-wait .ant-steps-item-icon >.ant-steps-icon {
  color: white!important;
}
.special {
  background-color: white!important;
}